In [2]:
import pymysql
conn=pymysql.connect(host='106.10.51.40',port=3306,user='root',password='tmwlsxm!19',db='sjt')
curs = conn.cursor()
# curs.execute(sql)

In [3]:

sql = 'select su.name as name, su.age as age, su.isMail as isMail, \
ifnull((select triage from sjt_device_data where patientId = su.id order by id desc limit 1), "unknown") as triage, \
ifnull((select outComplain from sjt_device_data where patientId = su.id order by id desc limit 1), "unknown") as outComplain \
from sjt_user su'

curs.execute(sql)
curs.fetchall()

(('김미상', 53, 1, 'yellow', '등찰과상'),
 ('박미상', 7, 1, 'green', ''),
 ('정미상', 47, 0, 'yellow', '머리골절'),
 ('최미상', 43, 0, 'yellow', '등찰과상'),
 ('이미상', 57, 0, 'yellow', '골반골절'),
 ('미상', 28, 1, 'unknown', 'unknown'),
 ('미상', 68, 1, 'unknown', 'unknown'),
 ('미상', 42, 1, 'unknown', 'unknown'),
 ('미상', 3, 1, 'unknown', 'unknown'),
 ('미상', 2, 0, 'unknown', 'unknown'),
 ('미상', 17, 0, 'unknown', 'unknown'),
 ('미상', 61, 1, 'unknown', 'unknown'),
 ('미상', 49, 1, 'unknown', 'unknown'),
 ('미상', 8, 1, 'unknown', 'unknown'),
 ('미상', 36, 0, 'unknown', 'unknown'),
 ('미상', 49, 1, 'unknown', 'unknown'),
 ('미상', 52, 1, 'unknown', 'unknown'),
 ('미상', 49, 0, 'unknown', 'unknown'),
 ('미상', 39, 0, 'unknown', 'unknown'),
 ('미상', 48, 1, 'unknown', 'unknown'),
 ('미상', 23, 0, 'unknown', 'unknown'),
 ('미상', 52, 1, 'unknown', 'unknown'),
 ('미상', 41, 1, 'unknown', 'unknown'),
 ('미상', 45, 1, 'unknown', 'unknown'),
 ('미상', 53, 1, 'unknown', 'unknown'),
 ('미상', 7, 1, 'unknown', 'unknown'),
 ('미상', 47, 0, 'unknown', 'unknown'),
 ('미상', 43, 0, 'unknown', 'unknown'),
 ('미상', 57, 0, 'unknown', 'unknown'),
 ('미상', 28, 1, 'unknown', 'unknown'),
 ('미상', 68, 1, 'unknown', 'unknown'),
 ('미상', 42, 1, 'unknown', 'unknown'),
 ('미상', 3, 1, 'unknown', 'unknown'),
 ('미상', 2, 0, 'unknown', 'unknown'),
 ('미상', 17, 0, 'unknown', 'unknown'),
 ('미상', 61, 1, 'unknown', 'unknown'),
 ('미상', 49, 1, 'unknown', 'unknown'),
 ('미상', 8, 1, 'unknown', 'unknown'),
 ('미상', 36, 0, 'unknown', 'unknown'),
 ('미상', 49, 1, 'unknown', 'unknown'),
 ('미상', 52, 1, 'unknown', 'unknown'),
 ('미상', 49, 0, 'unknown', 'unknown'),
 ('미상', 39, 0, 'unknown', 'unknown'),
 ('미상', 48, 1, 'unknown', 'unknown'),
 ('미상', 23, 0, 'unknown', 'unknown'),
 ('미상', 52, 1, 'unknown', 'unknown'),
 ('미상', 41, 1, 'unknown', 'unknown'),
 ('미상', 45, 1, 'unknown', 'unknown'))

In [ ]:
curs.execute("select age, isMail, name from sjt_user")
print(curs.fetchall()[0:1])

In [ ]:
curs.execute("select patientId from sjt_device_data")
print(curs.fetchall()[])

In [ ]:
curs.execute('select id,age,name,isMail from sjt_user')
patient = curs.fetchall()
print(patient[0][0])
sql = 'select outComplain from sjt_device_data where id = {}'.format(str(patient[0][0]))
a = curs.execute(sql)
print(a)

In [ ]:
curs.execute('select outComplain from sjt_device_data')
curs.fetchall()

In [ ]:
patient[0]

In [ ]:
class Patient:
    def __init__(self,userId,name,age,isMale,)
    (self,userId,age,isMale,time,latitude,longtitude,isWalk,mentalStatus,movedHospital,isAlive,
                 firstTriage,lastTriage,adm,name,blood,nation,calamityName,calamityType,outComplain,inComplain,isTrauma,faceImage):

In [ ]:
import time
from datetime import datetime
pid = 1
startTime = datetime(2010,7,3,13,7,30)
startUnixTime = int(time.mktime(startTime.timetuple()))
endTime = datetime(2010,7,3,13,12,30)
endUnixTime = int(time.mktime(endTime.timetuple()))

In [ ]:
sql_rr = 'SELECT rr FROM sjt_device_data WHERE  patientId = {} AND from_unixtime({}) < time AND from_unixtime({})'
curs.execute(sql_rr.format(pid,startUnixTime,endUnixTime))
rr_data = curs.fetchall()
print(rr_data)

In [ ]:
pid = 1
sql = 'SELECT sbp,rr,hr,saO2 FROM sjt_device_data WHERE  patientId = {} AND from_unixtime({}) < time AND from_unixtime({})'
curs.execute(sql.format(pid,startUnixTime,endUnixTime))
vital_data = curs.fetchall()

In [ ]:
time_list = []
vital_list = [[],[],[],[]]
a=0
for i in vital_data[0:30]:
    time_list.append(a)
    for index in range(0,4):
        if index == 1:
            vital_list[index].append(round(float(i[index]),2))
        else:
            vital_list[index].append(i[index])
    a += 1

In [ ]:
import datetime as dt
import matplotlib.pyplot as plt
# Preparation
fig = plt.figure(figsize=(16,3))
plt.plot(time_list,vital_list[0],linestyle='-', marker='o', label="value")

plt.xlabel('time')
plt.legend(loc=2)
plt.show()

In [ ]:
print(vital_list[1])

In [ ]:
fig = plt.figure(figsize=(16,3))
plt.plot(time_list,vital_list[1],linestyle='-', marker='o', label="value")

plt.xlabel('time')
plt.legend(loc=2)
plt.show()

In [ ]:
fig = plt.figure(figsize=(16,3))
plt.plot(time_list,vital_list[2],linestyle='-', marker='o', label="value")

plt.xlabel('time')
plt.legend(loc=2)
plt.show()

In [ ]:
fig = plt.figure(figsize=(16,3))
plt.plot(time_list,vital_list[3],linestyle='-', marker='o', label="value")

plt.xlabel('time')
plt.legend(loc=2)
plt.show()